
body{
    padding:20px;
    margin:20
}

div{
    margin:20px;
}

#search{
    border:solid 1px rgb(31, 160, 117);
    border-radius: 20px;
    padding:4px 50px;
    color: rgb(31, 160, 117);
}

#plus{
    border-radius: 50%;
    border: none;
    background-color: rgba(0, 195, 255, 0.925);
    color: white;
    width: 50px;
    height: 50px;
}

#CreateAccount{
    color: white;
    background-color: rgb(57, 116, 243);
    padding:5px 15px;
    border: solid 1px black;
    box-shadow: 5px 5px 0px black;
}