*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin: 0px 100px;

}

.navbar{
    width: 100%;
    height: 10%;
    background-color: gray;
    padding:20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.navbar h1{
    font-size: 50px;
    font-weight: 300;
}

.navbar button{
    padding: 5px 20px;
    box-shadow: 4px 4px 0px black;
    color: white;
    background-color: rgb(93, 148, 219);
    width: 100px;
}

.navbar #search{
    width: 400px;
    height: 30px;
    border: black solid 2px;
    position: relative;
    right: 50px;
}

.main{
    width: 100%;
    height: 750px;
    background-color: white;
    padding: 20px 0px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.col-1{
    height: 100%;
    width: 60%;
    background-color: white;

}


.col-2{
    height: 100%;
    width: 30%;
    background-color: white;
}

.boxes{
    border: black solid 4px;
    width: 100%;
    height: 25%;
    margin: 30px 0px;
    padding: 18px;
    display: flex;
}


.box-1{
    
}

.box-left{
    display: block;
    height: 100%;
    width: 25%;
    background-color: white;
    text-align: center;
    line-height: 35px;
    
}

.boxes h4{
    font-style: italic;
    font-weight: 400;
}


.box-left span{
    font-style: italic;
}

.box-left button{
    background-color: gold;
    padding: 7px 30px;
    box-shadow: 4px 4px 0px black;
    margin-top: 30px;
}

.boxright{
    width: 75%;
    display: flex;
    align-items: center;
    padding: 30px;
}

.boxright p{
    font-size: 25px;

}

.col-2 .boxes h1{
    font-weight: 500;
    margin-top: 20px;
}


#box-col-2{
    display: block;
}

#box-col-2 button{
    background-color: rgb(110, 201, 110);
    height: 40px;
    width: 100%;
    margin-top: 30px;
    box-shadow: 4px 4px 0px black;
    font-size: 22px;
}

